<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>AniTour</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>

  <!-- Login Servlet -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.anitour.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <!-- Signup Servlet -->
  <servlet>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>it.anitour.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>

  <!-- Tour Servlet-->
  <servlet>
  <servlet-name>TourServlet</servlet-name>
  <servlet-class>it.anitour.controller.TourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>TourServlet</servlet-name>
  <url-pattern>/tours</url-pattern>
  </servlet-mapping>
  
</web-app>