/*VARIABILI*/
:root {
    --text: #1c0b0b;
    --background: #e9f6f9;
    --primary: #d14241;
    --secondary: #ea8c8b;
    --accent: #e95756;
    --card: #e9e1e3;
}

/*MAIN*/
body{
    font-family: "Farro";
    background-color: var(--background);
    font-weight: 400;
}

@font-face {
  font-family: "Farro";
  src: url("/AniTour/styles/fonts/Farro-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Farro";
  src: url("/AniTour/styles/fonts/Farro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Farro";
  src: url("/AniTour/styles/fonts/Farro-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Farro";
  src: url("/AniTour/styles/fonts/Farro-Bold.ttf");
  font-weight: 700;
}
